{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'errors/css/style404.css' %}">
    <title>404 Not Found</title>
</head>
<body>
<div class="image">
    <div class="container">
        <h1 class="heading">Упс! Страница не найдена</h1>
        <p class="message">Простите, путешественник, эта страница сокровищ, как и Qiqi, не найдена.</p>
        <a href="/" class="btn">На главную</a>
    </div>
</div>
</body>
</html>

